/*BODY se uso como contenedor principal ahi se le dio formato a todos las letas*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
}

    /*Es la clase de todos los div*/
.contendor{
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.principal{
    width: 1250px;
    height: auto;
    margin: auto;
}

.encabezado{
    width: 100%;
    background-color: rgb(0, 230, 215);
}

.encabezado div{
    text-align: center;
    padding: 1px;
}

.contenido{
    background-color: rgb(204, 204, 1);
    width: 100%;
    height: auto;
    
}

.formularios{
    width: 13%;
    text-align: center;
    display: inline-table;

}

    .formularios label{
        font-size: 15px;
        color: black;
    }

.info1{
    width: 100%;
    height: auto;
    text-align: center;
}

.info2{
    width: 100%;
    height: auto;
}

.resultados{
    background-color: aliceblue;
    text-align: center;
    color: black;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
}

.resultados p{
    font-size: 15px;
    margin: 0;
}


.info3{
    display: inline-flex;
    width: 100%;
    height: auto;
}

.ladoIzq{
    width: 30%;
    padding: 5px;
}

.ladoDer{
    width: 70%;
}

.ladoDer h1{
font-size: 20px;
}

.ladoDer p{
    font-size: 15px;
    margin: 0;
}




.pie{
background-color: rgb(147, 90, 201);
text-align: center;
padding: 0.5px;
}